@model BlockTechMVC.Models.Transacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriptomoedaHojeId" class="control-label"></label>
                <select asp-for="CriptomoedaHojeId" class="form-control" asp-items="ViewBag.CriptomoedaHojeId"></select>
                <span asp-validation-for="CriptomoedaHojeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaClienteId" class="control-label"></label>
                <select asp-for="ContaClienteId" class="form-control" asp-items="ViewBag.ContaClienteId"></select>
                <span asp-validation-for="ContaClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriptoSaldoId" class="control-label"></label>
                <select asp-for="CriptoSaldoId" class="form-control" asp-items="ViewBag.CriptoSaldoId"></select>
                <span asp-validation-for="CriptoSaldoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoId" class="control-label"></label>
                <select asp-for="SaldoId" class="form-control" asp-items="ViewBag.SaldoId"></select>
                <span asp-validation-for="SaldoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
