
@{
    ViewData["Title"] = "Relatórios";
    ViewData["Data"] = DateTime.Now.ToString("dd-MM-yyyy HH:mm");

    var bitcoin = ViewBag.Bitcoin;

}

<h1>@ViewData["Title"]</h1>

<div>
</div>
<br />
<h4 class="text-center">Valor Por Criptomoeda @ViewData["Data"]</h4>
<canvas id="graficoCriptomoedas" width="400" height="150">
</canvas>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        $(document)
            .ready(function () {

                var ctx = document.getElementById('graficoCriptomoedas').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Bitcoin', 'Ethereum', 'Bitcoin Cash', 'XRP', 'PAX Gold', 'Litecoin'],
                        datasets: [{
                            data: [@bitcoin, 2224, 1538, 1, 10892, 314],
                            backgroundColor: [
                                'rgba(250, 150, 26, 0.2)',
                                'rgba(107, 108, 109, 0.2)',
                                'rgba(141, 195, 81, 0.2)',
                                'rgba(35, 41, 47, 0.2)',
                                'rgba(250, 244, 15, 0.2)',
                                'rgba(52, 92, 157, 0.2)'
                            ],
                            borderColor: [
                                'rgba(250, 150, 26, 1)',
                                'rgba(107, 108, 109, 1)',
                                'rgba(141, 195, 81, 1)',
                                'rgba(35, 41, 47, 1)',
                                'rgba(250, 244, 15, 1)',
                                'rgba(52, 92, 157, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            });
    </script>

}




