
@{
    var bitcoinQuantidade = ViewBag.QuantidadaTotalBitcoin;
    var bitcoinValorReal = ViewBag.QuantidadaEmRealBitcoin;
    var bitcoinInvestimento = ViewBag.ValorInvestidoBitcoin;
    }



<h2>Quantidade de Bitcoin: @bitcoinQuantidade</h2>
<h2>Valor Atual - Bitcoin: R$ @bitcoinValorReal</h2>
<h2>Valor Investido - Bitcoin: R$ @bitcoinInvestimento</h2>
