@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <img src="~/images/logo.png" alt="logo BLockTech" />
    <br />
    <br />
    <div class="container">
        <div class="col-12 col-md-6 col-lg-6 ">
            <h3 class="text-left home">Um novo conceito para gerenciar seus Criptoativos</h3>
            <hr />
            <br />
            <p class="text-left line">
                Acompanhe todas as operações realizadas, visualize
                relatórios executivos, tomada de decisões e diversas
                operações. Com o sistema, você terá uma ampla visão
                de seus investimentos com diversas ferramentas para
                análise de investimentos ao longo prazo.
            </p>
        </div>
        <div class="col-6">

        </div>
    </div>

</div>
