
@{
    ViewData["Title"] = "Bitcoin Cash";
    var diasList = ViewBag.Dias;
    var valoresList = ViewBag.Valores;
    var dias = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(diasList));
    var valores = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(valoresList));
}

<br />

<div class="flex-row">

    <a asp-action="Index" class="btn btn-outline-dark">Hoje</a>   
    <a asp-action="Mensal" class="btn btn-outline-dark">Últimos 30 dias</a>
    <a asp-action="Semanal" class="btn btn-outline-dark">Todas as Criptomoedas</a>
    <a asp-action="Bitcoin" class="btn btn-outline-dark">Bitcoin</a>
    <a asp-action="Ethereum" class="btn btn-outline-dark">Ethereum</a>
    <a asp-action="BitcoinCash" class="btn btn-dark text-white">Bitcoin Cash</a>
    <a asp-action="Xrp" class="btn btn-outline-dark">XRP</a>
    <a asp-action="PaxGold" class="btn btn-outline-dark">PAX Gold</a>
    <a asp-action="Litecoin" class="btn btn-outline-dark">Litecoin</a>

</div>
<br />
<h1>@ViewData["Title"]</h1>
<br />
<h4 class="text-center">Últimos 7 Dias</h4>
<canvas id="graficoBitcoinCash" width="400" height="150"  aria-label="Gráfico com os valores do Bitcoin Cash nos últimos 7 dias" role="img">
</canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        $(document)
            .ready(function () {

                var ctx = document.getElementById('graficoBitcoinCash').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: @dias,
                        datasets: [{
                            data: @valores,
                            backgroundColor: 'rgba(141, 195, 81, 0.0)',
                            borderColor: 'rgba(141, 195, 81, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        }
                    }
                });

            });
    </script>

}


